<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Football Picks</title>
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="/css/shared-styles.css">
</head>
<body>
    <%- include('header', { headText: '<head-text>College Football Picks</head-text>', user: user }) %>
    <div id="homepage">
        <button id="make-picks" onclick="picks()">Make Picks</button>
        <button id="top-25" onclick="top25()">Current Top 25</button>
        <button id="weekly-results" onclick="weeklyresults()">Weekly Results</button>
        <button id="season-leaderboard" onclick="leaderboard()">Season Leaderboard</button>
        <button id="casino" onclick="casino()">Casino</button>
    </div>

    <script>
        function picks() {
            window.location.href = '/picks';
        }
        function top25() {
            window.location.href = '/top25';
        }
        function weeklyresults() {
            window.location.href = '/weeklyresults';
        }
        function leaderboard() {
            window.location.href = '/leaderboard';
        }
        function casino() {
            window.location.href = '/casino';
        }
    </script>
</body>
</html>
