<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title>College Football Picks</title>
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
    <div id = "header">
        <button id="profile-button" onclick = "profile()">Profile</button>
        <head-text>College Football Picks</head-text>
    </div>
    <div id = "homepage">
        <button id="make-picks" onclick = "picks()">Make Picks</button>
        <button id="top-25" onclick = "top25()">Current Top 25</button>
        <button id="weekly-results" onclick = "weeklyresults()">Weekly Results</button>
        <button id="season-leaderboard" onclick = "leaderboard()">Season Leaderboard</button>
        <button id="casino" onclick = "casino()">Casino</button>

        <script>
            function profile() {
                window.location.href = '/profile';
            }
            function picks() {
                window.location.href = '/picks';
            }
            function top25() {
                window.location.href = '/top25';
            }
            function weeklyresults() {
                window.location.href = '/weeklyresults';
            }
            function leaderboard() {
                window.location.href = '/leaderboard';
            }
            function casino() {
                window.location.href = '/casino';
            }
        </script>
    </div>
</body>
</html>