<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/css/leaderboard.css">
</head>
<body>
    <div id="header">
        <h1>Leaderboard</h1>
    </div>
    <div id = "leaderboard"></div>
    <script>
        //userid, name, total correct points, record, and percentage correct
        fetch('/api/leaderboard') 
            .then(response => response.json())
            .then(data => {
                console.log(data)

                const leaderboardDiv = document.getElementById("leaderboard")

                const rankingHeader = document.createElement("rank")
                rankingHeader.textContent = " "

                const teamHeader = document.createElement("div")
                teamHeader.className = "team-header"
                teamHeader.textContent = "Users"

                const pointsHeader = document.createElement("div")
                pointsHeader.className = "rank-container-header"
                pointsHeader.textContent = "Points"

                const percentHeader = document.createElement("div")
                percentHeader.className = "rank-container-header"
                percentHeader.textContent = "Point Accuracy"

                const gameHeader = document.createElement("div")
                gameHeader.className = "rank-container-header"
                gameHeader.textContent = "Game Accuracy"

                const numberedHeader = document.createElement("div")
                numberedHeader.className = "numbered-container"
                numberedHeader.appendChild(rankingHeader)
                numberedHeader.appendChild(teamHeader)
                numberedHeader.appendChild(pointsHeader)
                numberedHeader.appendChild(percentHeader)
                numberedHeader.appendChild(gameHeader)
                
                leaderboardDiv.appendChild(numberedHeader)

                const testImg = "https://a.espncdn.com/combiner/i?img=/i/teamlogos/ncaa/500/57.png"

                data.forEach(user => {
                    const teamDiv = document.createElement("div")
                    teamDiv.className = "team"

                    const logo = document.createElement("img")
                    logo.src = testImg
                    logo.alt = `${user.name} profile picture`
                    logo.style.width = "100px"

                    const details = document.createElement("span")
                    details.textContent = `${user.name}`

                    const totalPoints = document.createElement("span")
                    const percentPoints = document.createElement("span")
                    const percentGames = document.createElement("span")
                    totalPoints.textContent = `${user.correctPoints}`
                    percentPoints.textContent = `${((user.correctPoints/user.totalPoints)*100).toFixed(0)}%`
                    percentGames.textContent = `${((user.correctPoints/user.totalPoints)*100).toFixed(0)}%` //NOT CORRECT, UPDATE WHEN ADDED

                    const pointsContainer = document.createElement("div")
                    pointsContainer.className = "rank-container"
                    pointsContainer.appendChild(totalPoints)

                    const percentContainer = document.createElement("div")
                    percentContainer.className = "rank-container"
                    percentContainer.appendChild(percentPoints)

                    const gamePercentContainer = document.createElement("div")
                    gamePercentContainer.className = "rank-container"
                    gamePercentContainer.appendChild(percentGames)

                    const nameDiv = document.createElement("div")
                    nameDiv.className = "name-container"

                    const record = document.createElement("gamerecord")
                    record.textContent = `(0 - 0)` //UPDATE WHEN ADDED
                    record.style.display = "block"

                    nameDiv.appendChild(details)
                    nameDiv.appendChild(record)

                    teamDiv.appendChild(logo)
                    teamDiv.appendChild(nameDiv)

                    const rankingNumber = document.createElement("rank")
                    rankingNumber.textContent = `#${user.rank}`

                    const numberedDiv = document.createElement("div")
                    numberedDiv.className = "numbered-container"
                    numberedDiv.appendChild(rankingNumber)
                    numberedDiv.appendChild(teamDiv)
                    numberedDiv.appendChild(pointsContainer)
                    numberedDiv.appendChild(percentContainer)
                    numberedDiv.appendChild(gamePercentContainer)

                    leaderboardDiv.appendChild(numberedDiv)
                })
            })
            .catch(error => console.error("error in leaderboard", error))
    </script>
</body>
</html>