<!-- not implimented yet, this will show a leaderboard of everyones points. 
 if the game is two top 25 teams it is 2 points, if the game is one top 25 teams it is 2 points, 
 Bowl games that dont include a top 25 team is .5 points --> 
<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/css/leaderboard.css">
</head>
<body>
    <h1>Leaderboard</h1>


    <script>
        
    </script>
</body>
</html>