<!-- not complete yet, fetches the top 25 teams from one ESPN API, then pulls game data for those top 25 teams from a seperate ESPN API  --> 
<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title>Picks</title>
    <link rel="stylesheet" href="/css/picks.css">
</head>
<body>
    <h1>Picks</h1>
    <div id = "Picks"></div>

    <script>
        async function fetchTop25() {
            try{
                // pulls all the top 25 teams and ranking data from the rankings API
                const rankingsResponse = await fetch("https://site.api.espn.com/apis/site/v2/sports/football/college-football/rankings")
                const rankingsData = await rankingsResponse.json()
                const top25Teams = rankingsData.rankings[0].ranks.map(rank => rank.team.id)

                // pulls the start and end date of the week 
                const season = rankingsData.rankings[0].season
                const startOfWeek = new Date(season.startDate)
                const endOfWeek  = new Date(season.endDate)

                // pulls game data such as match ups and times of games from the scorecoard API
                const gamesResponse = await fetch("https://site.api.espn.com/apis/site/v2/sports/football/college-football/scoreboard")
                const gamesData = await gamesResponse.json()

                const currentWeek = gamesData.week.number
                const isWeek15 = currentWeek === 15

                renderGames(gamesData, top25Teams, startOfWeek, endOfWeek, isWeek15)
            }
            catch (error){
                console.error("Error fetching data:", error)
            }
        }


        function renderGames(gamesData, top25Teams, startOfWeek, endOfWeek, isWeek15) {
            //variable to store each of the games
            const filteredGames = []

            gamesData.events.forEach(game => {
                //pulls data from each game for the Date, Home, and Away team
                const gameDate = new Date(game.date)
                const homeTeam = game.competitions[0].competitors.find(competitor => competitor.homeAway === 'home')
                const awayTeam = game.competitions[0].competitors.find(competitor => competitor.homeAway === 'away')

                // logic to filter out games. during the regular season ensure the game includes at least one top 25 matchup and is the current week, 
                // includes all conference championship games regardless of ranking, 
                // includes the Army vs Navy Game regardless of ranking,
                // includes all bowl games and college football playoff games, but excludes any FCS games
                const isTop25Game = top25Teams.includes(homeTeam.team.id) || top25Teams.includes(awayTeam.team.id)
                const isThisWeek = gameDate >= startOfWeek && gameDate <= endOfWeek
                const isConferenceChampionship = (isWeek15 && gameDate >= startOfWeek && gameDate <= endOfWeek)
                const isArmyNavy = (homeTeam.team.name === 'Army' && awayTeam.team.name === 'Navy') || (homeTeam.team.name === 'Navy' && awayTeam.team.name === 'Army')
                const isBowlOrCFP = game.season.type === 3
                const isFCSGame = game.competitions[0].notes.some(note => note.headline === "FCS Championship") || game.competitions[0].notes.some(note => note.headline === "FCS Championship - Semifinals")

                if (isFCSGame) return 
                
                if ((isTop25Game && isThisWeek) || isConferenceChampionship || isArmyNavy || isBowlOrCFP) {
                    filteredGames.push({ gameDate, homeTeam, awayTeam })
                }
            })

            //sorts the filtered games according to the date the occur
            filteredGames.sort((a, b) => a.gameDate - b.gameDate)

            const picksDiv = document.getElementById("Picks")
            picksDiv.innerHTML = ""

            // creates a button for each home and away team, as well as the time so users know when to make their pick 
            filteredGames.forEach(({gameDate, homeTeam, awayTeam}) => {
                const homeButton = document.createElement('button')
                homeButton.textContent = homeTeam.team.displayName
                //add in functionality for on click later
                //homeButton.onclick = () => 

                const awayButton = document.createElement('button')
                awayButton.textContent = awayTeam.team.displayName
                //add in functionality for on click later
                //awayButton.onclick = () => 

                const dateDiv = document.createElement('div')
                dateDiv.textContent = `Game Time: ${gameDate.toLocaleString()}`

                picksDiv.appendChild(homeButton)
                picksDiv.appendChild(awayButton)
                picksDiv.appendChild(document.createElement('br'))
                picksDiv.appendChild(dateDiv)
            })

            console.log(filteredGames)
        }

            // every 10 minutes the functions are run to pull the data and ensure the games are correct this will be used to lock out users from making picks after game start
            fetchTop25()
            setInterval(fetchTop25, 600000)
    </script>
</body>
</html>