<!-- not finished yet with CSS, but currently pulls data from ESPN's API for college football rankings and fully works --> 
<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title>Top 25</title>
    <link rel="stylesheet" href="/css/top25.css">
</head>
<body>
    <div id="header">
        <h1>Top 25</h1>
    </div>
    <div id = "rankings">
    <script>
        fetch("https://site.api.espn.com/apis/site/v2/sports/football/college-football/rankings")
            .then(response => response.json())
            .then(data => {
                console.log(data)

                const rankings = data.rankings[0].ranks
                const rankingsDiv = document.getElementById("rankings")

                rankings.forEach(rank => {
                    const team = rank.team

                    const teamDiv = document.createElement("div")
                    teamDiv.className = "team"

                    const logo = document.createElement("img")
                    logo.src = team.logo
                    logo.alt = `${team.name} logo`
                    logo.style.width = "100px"

                    const details = document.createElement("span")
                    details.textContent = `${team.location} ${team.name}`

                    const record = document.createElement("gamerecord")
                    record.textContent = `(${rank.recordSummary})`
                    record.style.display = "block"

                    const nameDiv = document.createElement("div")
                    nameDiv.className = "name-container"

                    nameDiv.appendChild(details)
                    nameDiv.appendChild(record)

                    teamDiv.appendChild(logo)
                    teamDiv.appendChild(nameDiv)

                    const rankingNumber = document.createElement("rank")
                    rankingNumber.textContent = `#${rank.current}`

                    const numberedDiv = document.createElement("div")
                    numberedDiv.className = "numbered-container"
                    numberedDiv.appendChild(rankingNumber)
                    numberedDiv.appendChild(teamDiv)

                    rankingsDiv.appendChild(numberedDiv)
                })
            })
            .catch(error => console.error("error fetching in rankings api", error))
    </script>
    </div>
</body>
</html>