<!-- not implimented yet, it will show each individual users record from the previous weeks games --> 
<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title>Weekly Results</title>
    <link rel="stylesheet" href="/css/weeklyresults.css">
    <link rel="stylesheet" href="/css/shared-styles.css">
</head>
<body>
    <%- include('header', { headText: '<head-text>Weekly Results</head-text>' }) %>


    <script>
        
    </script>
</body>
</html>