:root {
    --home-team-color: black;
    --home-team-alt: black;
    --away-team-color: black;
    --away-team-alt: black;
}

body, html {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(179, 179, 179));
    margin: 0;
    height: 100%;
    width: 100%;
    font-family:'Poppins', sans-serif;
}

#details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
}

.ranks-div {
    display: flex;
    align-items: stretch; 
    justify-content: space-around;
    margin-top: 170px;
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
  }

.data-container {
    position: relative;
    z-index: 1;
    flex: 1;
    border-radius: 10px;
    border: 1px solid #000;
    padding: 10px;
    margin: 1%;
    box-sizing: border-box;
    width: 31%;
    min-height: 500px;
}

.paragraph-div {
    color: black;
    font-weight: bold;
    text-align: left;
    font-size: 2em;
    display: flex;
    align-items: center;
    height: 100px;
    padding-left: 20px;
}

fd {
    display: table-cell;
    border-bottom: 1px solid #000;
    height: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
}

td {
    height: 25px;
}

.table-container {
    width: 25vw;
    display: flex;
    justify-content: center; 
    align-items: center;    
    position: relative;   
}

.table-container table {
    padding: 12px;
    border-collapse: collapse;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
}

.arrow-div-left, .arrow-div-right {
    position: absolute;
    font-size: 2em;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-div-left {
    left: 34vw; 
}

.arrow-div-right {
    right: 34vw; 
}

.header-container {
    background: linear-gradient(to right, rgb(179, 179, 179), rgb(255, 255, 255));
    position: fixed;
    display: flex;
    justify-content: space-around;
    top: 0;
    left: 0;
    width: 90vw;
    height: 150px;
    padding-left: 5vw;
    padding-right: 5vw;
    border-bottom: 1px solid #000;
    z-index: 1000;
}

.header-container .title-div {
    width: 25vw;
    height: 150px;
}

.title-div {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    display: flex;
    align-items: center;
    height: 100px;
}

.title-div img {
    margin-right: 10px;
}

.title-div header {
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
}