:root {
    --home-team-color: black;
    --home-team-alt: black;
    --away-team-color: black;
    --away-team-alt: black;
}

body, html {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(179, 179, 179));
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    font-family:'Poppins', sans-serif;
}

#details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
    height: 95vh;
    margin: auto;
    box-sizing: border-box;
}

.data-container {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, .01);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #000;
    padding: 10px;
    box-sizing: border-box;
    width: 31%;
    height: 95%;
}

.data-container h1 {
    color: black;
    font-weight: bold;
    text-align: center; 
    font-size: 2em;
}