body {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(179, 179, 179));
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Poppins', sans-serif;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 50vw;
    height: 175px;
    border-bottom: 1px solid black;
}

#header name-title {
    font-size: 4em;
    font-weight: bold;
}

#header img {
    margin-right: 20px;
}

#profile-editor {

}