body {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(179, 179, 179));
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
    height: 10vh;
    border-bottom: 1px solid black;
    width: 95vw;
}

#menu-button {
    position: absolute;
    left: 2.5vw;
    top: 1vh;
    height: 8vh;
    width: 8vh;
    background-image: url('../images/menu-icon.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    border-radius: 10px;
}

#menu-button:hover {
    cursor: pointer;
    background-color: rgb(179, 179, 179);
}

.hidden {
    display: none !important;
}

#dropdown-menu {
    position: absolute;
    top: 9vh;
    left: 2.5vw;
    background: linear-gradient(to bottom, #ffffff, #f3f3f3);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease; 
}

#dropdown-menu a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-size: 0.5em;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#dropdown-menu a:hover {
    background-color: #007BFF;
    color: #fff;
}

#dropdown-menu.show {
    opacity: 1;
    transform: translateY(0)
}

#homepage {
    width: 95vw;
    display: flex;
    justify-content: space-between; 
}

#homepage button {
    flex: 1;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    transition: color 0.3s ease;
    font-weight: bold;
    border-radius: 10px;
}

#homepage button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;
    transition: opacity 0.5s ease;
}

#make-picks {
    background-image: url('../images/wisconsin-football.gif');
    background-blend-mode: overlay;
    background-color: rgba(197, 5, 12, 0.4);
}

#top-25 {
    background-image: url('../images/uf4.gif');
    background-blend-mode: overlay;
    background-color: rgba(0, 33, 165, 0.4);
}

#weekly-results {
    background-image: url('../images/alabama2.gif');
    background-blend-mode: overlay;
    background-color: rgba(158, 27, 50, 0.4);
}

#season-leaderboard {
    background-image: url('../images/jeremiah-smith.gif');
    background-blend-mode: overlay;
    background-color: rgba(187, 0, 0, 0.4);
}

#casino {
    background-image: url('../images/notre-dame-notre-dame-football.gif');
    background-blend-mode: overlay;
    background-color: rgba(12, 35, 64, 0.4);
}

#make-picks::before, #top-25::before, #weekly-results::before, #season-leaderboard::before, #casino::before {
    background: rgba(0, 0, 0, 0.92);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backgrop-filter: blur(5px);
}

#homepage button:hover::before {
    opacity: 0;
}

#homepage button:hover {
    color: black;
    cursor: pointer;
}
