body {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(179, 179, 179));
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Poppins', sans-serif;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin-bottom: 30px;
    width: 755.8px;
    height: 100px;
    border-bottom: 1px solid black;
}

#Picks {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, .01);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #000;
    margin-bottom: 1%;
    padding: 10px;
    box-sizing: border-box;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.middle-div {
    justify-content: center;
    align-items: center;
}

.vs-text {
    font-weight: bold;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-button {
    width: 300px;
}

button {
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 15px;
}

button:disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.75; 
    color: #777; 
}

button:active {
    background-color: #555; /* Darker color */
    color: white; /* Change text color to contrast the darker background */
}

button img {
    justify-content: flex-start;
    margin-right: 10px;
}

button span {
    color: black;
    font-weight: bold;
    text-align: left; 
    font-size: 1em;
}