#profile {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    width: 95vw;
    justify-content: center;
    justify-items: start;
}

.details-box {
    flex: 1 1 calc(25% - 2vw);
    max-width: calc(25% - 2vw);
    min-height: 30vh;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
}

.details-box-header {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    width: 100%;
    height: 5vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tab-header, .innert-tab-header {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vh;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.tab-header:first-child {
    border-right: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tab-header:last-child {
    border-left: 1px solid black;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.tab-header:hover {
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

.tab-content {
    padding: 1vh;
}

.tab-header {
    background-color: rgb(180, 180, 180);
}

.tab-header.active-tab {
    background-color: transparent;
    border: transparent;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


.hidden {
    display: none;
}

.settings-button, .friend-button, .remove-friend-button {
    height: 6vh;
    width: 6vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    margin-left: 20px;
}

.settings-button {
    background-image: url('../images/settings-icon.png');
}

.friend-button {
    background-image: url('../images/add-friend.png');
}

.remove-friend-button {
    background-image: url('../images/remove-friend.png');
}

.settings-button:hover, .friend-button:hover, .remove-friend-button:hover {
    cursor: pointer;
    background-color: rgb(179, 179, 179);
}

.friend-element {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.profile-link {
    display: inline-block;
    margin-right: 20px;
    border-radius: 10px;
}

.profile-link:hover {
    background-color: rgb(179, 179, 179);
}

.friend-element .button-container {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.button-container .friend-button, .button-container .remove-friend-button {
    height: 4vh;
    width: 4vh;
    margin: 0;
}

.name-div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

user-name {
    font-weight: bold;
}
